## import important libraries

In [4]:
import warnings
# Ignore the warning
warnings.filterwarnings("ignore", message="The least populated class in y has only 1 members")

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import binom, poisson, norm

# Load the dataset
df = pd.read_csv("Accommodation.csv")

In [6]:
# Display the first few rows of the dataset
print("First few rows of the dataset:")
df.head()

First few rows of the dataset:

,Name,Url,Telephone,Longitude,Latitude,AddressRegion,AddressLocality,AddressCountry,Tags
0,Hideaway Camping and Caravan Park,NaN,+353(0)2822254,-9.260331,51.541699,Cork,Skibbereen,Republic of Ireland,Camping
1,Clonvilla,NaN,+353(0)2498288,-7.924324,51.910660,Cork,Youghal,Republic of Ireland,Camping
2,Rosses Point Caravan Park (Greenlands),http://www.sligocaravanandcamping.ie,+353(0)719177113,-8.569483,54.306976,Sligo,Rosses Point,Republic of Ireland,Camping
3,Strandhill Caravan and Camping Park,http://www.sligocaravanandcamping.ie,+353(0)719168111,-8.605472,54.271988,Sligo,Airport Road,Republic of Ireland,Camping
4,Flemings White Bridge Caravan and Camping,http://www.killarneycamping.com,+353(0)646631590,-9.475904,52.057113,Kerry,Killarney,Republic of Ireland,Camping

## Step 1: Statistics

In [7]:
# Descriptive statistics for numerical columns
print("\nDescriptive statistics for numerical columns:")
df.describe()

Descriptive statistics for numerical columns:

         Longitude     Latitude
count  2339.000000  2339.000000
mean     -8.208845    53.069696
std       1.283439     0.905482
min     -10.514531    51.479594
25%      -9.374312    52.261228
50%      -8.436704    53.122920
75%      -7.023236    53.594261
max      -5.998080    55.361922

## Preprocessing of Dataset